@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script src="~/app/controller/dashboardController.js"></script>
    <script src="~/app/controller/messageController.js"></script>
    <script src="~/app/service/dashboardService.js"></script>
    <script src="~/app/service/messageService.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/Scripts/upload.js"></script>
    <script>
        function openfileUpload() {
            var fileName = jQuery('.custom-file-input').val().split("\\").pop();
            filename.value = fileName;
        }


    </script>
}
<div class="col-md-12 p-0" ng-app="etutorApp">
    @Html.Partial("_Message")
    <div class="row" ng-controller="dashboardController">
        <div class="col-md-3 bg-primary pb-3 pt-3">
            <div class="row" ng-show="isTutor">
                <div class="col-md-12 pb-3">
                    <div class="card" >
                        <div class="card-header">
                            Arrange Meeting
                        </div>
                        <div class="card-body">
                            <div class="form-group col-md-12 pl-0 pr-0">
                                <div ng-dropdown-multiselect="" options="users" selected-model="Meeting.members" checkboxes="true" extra-settings="userDropdownSetting" class="dropdown col-md-12"></div>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control col-12" placeholder="Venue" ng-model="Meeting.place" />
                            </div>
                            <div class="form-group col-md-12">
                                <p class="input-group">
                                    <input type="text" class="form-control col-11" uib-datepicker-popup="{{format}}" ng-model="Meeting.date" is-open="MeatingDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn pl-1">
                                        <button type="button" class="btn btn-primary" ng-click="open(); $event.stopPropagation();"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-12" uib-timepicker ng-model="Meeting.time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                            </div>
                            <div class="form-group col-md-12">
                                <textarea type="text" class="form-control col-12" placeholder="Please enter your agenda" ng-model="Meeting.description"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="button" class="btn btn-block btn-primary col-12" value="Add" ng-click="addMeeting()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-0">
                <div class="col-md-12 pb-3" ng-repeat="meeting in Meetings">
                    <div class="card" data-toggle="modal" data-target="#meetingminitesBox" ng-click="getMeetingMinutes(meeting)">
                        <div class="card-body">
                            <div class="row p-0">
                                <div class="col-md-8">
                                    <p class="text-body font-weight-bolder p-0 m-0">{{meeting.date}}</p>
                                    <p class="text-body font-weight-bold small">{{meeting.place}}</p>

                                </div>
                                <div class="col-md-4 pr-2" ng-show="meeting.isOwner">
                                    <button class="btn btn-secondary col-md-12" ng-click="cancelMeeting(meeting.meetingId)">Cancel</button>
                                </div>
                            </div>
                            <div class="row p-0">
                                <div class="col-md-12">
                                    <p class="text-body small">{{meeting.description}}</p>
                                    <h6 class="caption small font-weight-light">{{meeting.createdBy}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 pl-md-3 pl-sm-0">
            <div class="row p-0 pr-3">
                <div class="col-12 pt-sm-3 pb-3 pr-0">
                    <div class="card">
                        <div class="card-header">
                            Attach File
                        </div>
                        <div class="card-body">
                            <div class="form-group form-inline">
                                <div class="form-group col-md-10 col-sm-10 pl-0">
                                    <input type="text" class="form-control col-12" id="filename" disabled ng-model="AttachDocument.name" />
                                </div>
                                <div class="form-group col-md-2 col-sm-2 pr-0 pull-right">
                                    <div class="custom-file col-md-12">
                                        <label type="text" class="custom-file-label col-md-12" for="fileUploadtxt" style="border:none" />
                                        <input type="file" class="custom-file-input col-md-12" id="fileUploadtxt" onchange="angular.element(this).scope().setFile(this)" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control col-12" placeholder="Description here" ng-model="AttachDocument.description" />
                            </div>
                            <div class="form-group">
                                <input type="button" value="upload" class="btn btn-primary" ng-click="UploadFile()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pb-2 pr-3" ng-repeat="attachment in AttachDocumentList">
                <div class="row p-0">
                    <div class="col-md-12 pl-0 pr-0">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-md-10 pl-0 m-0 d-inline-block">
                                    {{attachment.uploadBy}}
                                </div>
                                <div class="d-inline-block p-0" ng-show="attachment.isOwner">
                                    <button class="btn glyphicon glyphicon-edit" ng-hide="attachment.isEdit" ng-click="editAttachment(attachment)"></button>
                                    <button class="btn glyphicon glyphicon-trash text-danger p-0" ng-click="deleteAttachment(attachment.attachmentId)"></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="~/UploadFile/{{attachment.name}}" target="_blank"><i class="glyphicon glyphicon-paperclip"></i> {{attachment.name}}</a>
                                <div class="text-body" ng-hide="attachment.isEdit">
                                    {{attachment.description}}
                                </div>
                                <div class="row" ng-show="attachment.isEdit">
                                    <div class="col-md-12 form-inline">
                                        <div class="form-group col-md-11 pl-0 pr-0">
                                            <textarea type="text" class="form-control col-12" placeholder="Comment" ng-model="attachment.description"></textarea>
                                        </div>
                                        <div class="form-group col-md-1 pl-sm-0 pr-0">
                                            <button class="btn btn-primary col-md-12 glyphicon glyphicon-floppy-save pt-3 pb-3" ng-click="updateAttachment(attachment)"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pb-2 pt-2" ng-repeat="comment in attachment.comments">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-md-10">{{comment.commentBy}}</div>
                                                    <div class="col-md-2" ng-show="comment.isOwner">
                                                        <button class="btn glyphicon glyphicon-edit" ng-hide="comment.isEdit" ng-click="editComment(comment)"></button>
                                                        <button class="btn glyphicon glyphicon-trash text-danger p-0" ng-click="deleteComment(attachment,comment.commentId)"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="text-body font-weight-light col-md-12" ng-hide="comment.isEdit">
                                                    {{comment.text}}
                                                </div>
                                                <div class="row" ng-show="comment.isEdit">
                                                    <div class="col-md-12 form-inline">
                                                        <div class="form-group col-md-11 pl-0 pr-sm-0 ">
                                                            <textarea type="text" class="form-control col-12" placeholder="Comment" ng-model="comment.text"></textarea>
                                                        </div>
                                                        <div class="form-group col-md-1 pr-0 pl-0">
                                                            <button class="btn btn-primary col-md-12 glyphicon glyphicon-send text-center pt-3 pb-3" ng-click="updateComment(comment)"></button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="col-md-12 form-inline">
                                    <div class="form-group col-md-11 pl-0 pr-3 pr-sm-0">
                                        <textarea type="text" class="form-control col-12" placeholder="Comment" ng-model="attachment.comment.text"></textarea>
                                    </div>
                                    <div class="form-group col-md-1 pr-0 pl-2">
                                        <button class="btn btn-primary col-md-12 glyphicon glyphicon-send text-center pt-3 pb-3" ng-click="addComment(attachment)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*Meeting Minutees*@
        <div class="modal" id="meetingminitesBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pl-2 pr-2">
                        <div class="row p-0" ng-show="isTutor">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select class="col-md-12" ng-model="MeetingMinute.presenter" ng-options="option.label for option in presenters track by option.id"></select>
                                </div>
                                <div class="form-group col-md-12 pl-0 pr-0">
                                    <textarea type="text" class="form-control col-md-12" placeholder="Ajenda" ng-model="MeetingMinute.description"></textarea>
                                </div>
                                <div class="form-group col-md-12 pl-0 pr-0">
                                    <input type="button" class="btn btn-block btn-primary col-md-12" value="Add" ng-click="addMeetingMinute()" />
                                </div>
                            </div>
                        </div>
                        <div class="row p-0">
                            <div class="col-md-12">
                                <div class="form-inline">
                                    <label class="label">Date :</label>
                                    <label class="label">
                                        {{MeetingMinuteSummary.date}}
                                    </label>
                                </div>
                                <div>
                                    <label class="label">Required :</label>
                                    <label class="label">
                                        {{MeetingMinuteSummary.members | join:',':'label'}}
                                    </label>
                                </div>
                                <div class="form-inline">
                                    <label class="label">Venue :</label>
                                    <label class="label">{{MeetingMinuteSummary.place}}</label>
                                </div>
                                <div class="form-inline">
                                    <label class="label">Agenda :</label>
                                    <label class="label">{{MeetingMinuteSummary.description}}</label>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Presenter</th>
                                            <th>Discription</th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="meetingminutes in MeetingMinutes">
                                            <td>
                                                <label ng-hide="meetingminutes.isEdit">
                                                    {{meetingminutes.presenter.label}}
                                    </label>
                                                <select class="col-md-12" ng-model="meetingminutes.presenter" ng-show="meetingminutes.isEdit" ng-options="option.label for option in presenters track by option.id"></select>
                                            </td>
                                            <td>
                                                <label ng-hide="meetingminutes.isEdit">{{meetingminutes.description}}</label>
                                                <textarea type="text" class="form-control col-md-12" placeholder="Ajenda" ng-show="meetingminutes.isEdit" ng-model="meetingminutes.description"></textarea>
                                            </td>
                                            <td ng-show="isTutor">
                                                <button class="btn glyphicon glyphicon-pencil" ng-hide="meetingminutes.isEdit" ng-click="editMeetingMinute(meetingminutes)" />
                                                <button class="btn glyphicon glyphicon-ok text-success" ng-show="meetingminutes.isEdit" ng-click="updateMeetingMinute(meetingminutes)" />
                                                <button class="btn glyphicon glyphicon-trash text-danger" ng-hide="meetingminutes.isEdit" ng-click="deleteMeetingMinute(meetingminutes.meetingMinuteId)" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
